h1, h2 {
color: red;
}
h3 {
color:#ad0b0b
}
h4 {
color : blue;
}
p{
text-align : left;
font-size : 18px;
}
/* unvisited link */
a:link {
    color: green;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #ad0b0b;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
